@import '/src/styles/variables.scss';

.buttonMain {
  font-size: 14px;
  height: 44px;
  min-width: 44px;
  border-radius: 4px;
  background-color: $color-blue;
  color: $color-white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 0 15px;
  position: relative;
  &.transparent {
    background-color: inherit;
    border: 1.5px solid $color-blue;
    color: $color-blue;
    &:hover {
      background-color: #5558fa25;
    }
  }
  & svg {
    margin: 0 auto;
  }
  &:hover {
    background-color: $color-blue-light-300;
  }
}
