@font-face {
  font-family: SB Sans Interface;
  src: url('/fonts/SB Sans Interface.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

#root {
  // max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  // padding: 2rem;
  // text-align: center;
}
