@import '/src/styles/variables.scss';

@font-face {
  font-family: SB Sans Interface;
  src: url('/src/assets/fonts/SB\ Sans\ Interface.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

:root {
  font-family: SB Sans Interface, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $text-color-light;
  background-color: $bg-light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  min-width: 330px;
}

#root {
  margin: 0 auto;
  width: 100%;
}

a {
  font-weight: 500;
  color: $color-blue;
  text-decoration: inherit;
}
a:hover {
  color: $bg-dark;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: $color-blue;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: $text-color-dark;
    background-color: $bg-dark;
  }
  a:hover {
    color: $bg-light;
  }
  button,
  input,
  select,
  textarea {
    background-color: $bg-dark;
  }
  button:disabled,
  input:disabled,
  select:disabled {
    cursor: inherit;
    color: rgba(255, 255, 255, 0.3);
  }
}
