$bg-light: #e8e8e8;
$bg-dark: #1a1a1a;
$text-color-light: #213547;
$text-color-dark: #ffffffde;

// colors
$color-white: #fff;
$color-blue: #5558fa;
$color-blue-light-300: #6a6dfa;
$color-blue-light-200: #535bf2;
$color-black-light: #242424;
$color-black-300: #333;
$color-gray: #c9c9c9;
$color-gray-300: #999;
$color-gray-400: #454545;
$color-gray-500: #494949;

// media: width
$w504: 504px;
$w399: 399px;
