@import '/src/styles/variables.scss';

.createPage {
  height: 100%;
  padding: 24px;
  background: $color-white;
  border-radius: 12px;
  box-sizing: border-box;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

@media (prefers-color-scheme: dark) {
  .createPage {
    background: $color-black-light;
  }
}

@media (max-width: $w504) {
  .createPage {
    margin-top: 5px;
  }
}
