@import '/src/styles/variables.scss';

.modal {
  min-width: 330px;
  position: absolute;
  background-color: #0000003a;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  .content {
    width: 460px;
    min-height: 300px;
    padding: 32px;
    box-sizing: border-box;
    background-color: $color-white;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    .titleSuccess {
      font-size: 20px;
      text-align: center;
    }
    .titleError {
      font-size: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .close {
        width: 28px;
        height: 28px;
        border-radius: 14px;
        background: rgba(0, 0, 0, 0.04);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover {
          background: rgba(0, 0, 0, 0.24);
          & svg path {
            fill: #333;
          }
        }
      }
    }
    .button {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .modal {
    background-color: #0000003a;
    .content {
      background-color: $color-black-300;
      box-shadow: 0px 8px 32px rgba(255, 255, 255, 0.08);
      .titleError {
        .close {
          background: rgba(255, 255, 255, 0.1);
          cursor: pointer;
          &:hover {
            background: rgba(255, 255, 255, 0.2);
            & svg path {
              fill: #dadada;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $w504) {
  .modal {
    .content {
      width: 90%;
    }
  }
}
