@font-face {
  font-family: SB Sans Interface;
  src: url('/fonts/SB Sans Interface.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

#root {
  // max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  // padding: 2rem;
  // text-align: center;
}

.container {
  width: 100%;
  max-width: 930px;
  box-sizing: border-box;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  height: 100%;
  padding: 24px;
  background: #fff;
  border-radius: 12px;
  box-sizing: border-box;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  &-title {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    &__avatar {
      width: 80px;
      height: 80px;
      border-radius: 40px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 40px;
      background: #d5e4f7;
      color: #212830;
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    &__name {
      font-size: 20px;
      line-height: 26px;
      font-weight: 600;
    }
    &__links {
      font-size: 12px;
      line-height: 16px;
      display: flex;
      gap: 16px;
      & a {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }
  }
  &-form {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    & label {
      font-size: 14px;
      margin-bottom: 8px;
    }
    & input {
      width: 400px;
      padding: 12px;
      background: rgba(0, 0, 0, 0.04);
      border: 1px solid rgba(0, 0, 0, 0.16);
      border-radius: 4px;
      margin-bottom: 24px;
    }
    & button {
      margin-top: 24px;
      width: fit-content;
    }
  }
}

.buttonMain {
  font-size: 14px;
  height: 44px;
  min-width: 44px;
  border-radius: 4px;
  background-color: #5558fa;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  position: relative;
  &.transparent {
    background-color: inherit;
    border: 1.5px solid #5558fa;
    color: #5558fa;
  }
  & svg {
    margin: 0 auto;
    position: absolute;
  }
}

.create {
  height: 100%;
  padding: 24px;
  background: #fff;
  border-radius: 12px;
  box-sizing: border-box;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  &-form {
    display: flex;
    flex-direction: column;
    gap: 48px;
    // margin-top: 24px;
    & label {
      width: fit-content;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 8px;
    }
    & input,
    textarea {
      width: 400px;
      padding: 12px;
      // background: rgba(0, 0, 0, 0.04);
      border: 1px solid rgba(0, 0, 0, 0.16);
      border-radius: 4px;
      // margin-bottom: 24px;
      font-family: inherit;
      &.error {
        border: 1px solid rgba(255, 0, 0, 0.5);
      }
    }
    & select {
      width: 400px;
      padding: 12px;
      // background: rgba(0, 0, 0, 0.04);
      border: 1px solid rgba(0, 0, 0, 0.16);
      border-radius: 4px;
      // margin-bottom: 24px;
      box-sizing: content-box;
      // opacity: 1;
      // color: red;
      background: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.35355 9.05848C4.15829 8.86321 4.15829 8.54663 4.35355 8.35137L5.05683 7.64809C5.25194 7.45298 5.56823 7.45281 5.76355 7.6477L9.64683 11.5225C9.84201 11.7173 10.158 11.7173 10.3532 11.5225L14.2364 7.6477C14.4318 7.45281 14.7481 7.45298 14.9432 7.64809L15.6464 8.35137C15.8417 8.54663 15.8417 8.86321 15.6464 9.05848L10.3536 14.3514C10.1583 14.5466 9.84171 14.5466 9.64645 14.3514L4.35355 9.05848Z" fill="black" fill-opacity="0.24"/></svg>')
        no-repeat 97% 50%;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      &.error {
        border: 1px solid rgba(255, 0, 0, 0.5);
      }
      &.empty {
        color: rgba(0, 0, 0, 0.478);
      }
    }
    & textarea {
      width: 100%;
      height: 84px;
    }
    &__buttons {
      display: flex;
      justify-content: space-between;
    }
    & button {
      margin-top: 24px;
      width: fit-content;
    }
  }
}

.checkbox,
.radio {
  position: relative;
  margin-bottom: 24px;
  & label {
    display: flex;
    flex-direction: row;
    align-items: center;
    & input {
      margin: 0;
      width: 16px;
      height: 16px;
    }
  }
}

.field-error {
  position: absolute;
  color: red;
  font-size: 10px;
  bottom: -16px;
  right: 0px;
}
.advantage-error {
  position: absolute;
  color: red;
  font-size: 10px;
  bottom: -16px;
  right: 40px;
}

.field-tip {
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
  font-size: 10px;
  bottom: -16px;
  left: 0px;
}

.button-remove {
  background-color: inherit;
  border: none;
  &:hover svg path {
    fill: red;
  }
  // align-self: center;
}
.advantage {
  display: flex;
  flex-direction: column;
  gap: 18px;
  &-items {
    display: flex;
    flex-direction: column;
    gap: 18px;
    &__field {
      position: relative;
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
  & input,
  button {
    margin: 0;
  }
}

.about-field {
  width: 100% !important;
  & textarea {
    // width: auto;
    box-sizing: border-box;
    max-width: 100%;
  }
}

// ============ STEPPER LINE ========

.stepper {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  justify-content: space-between;
  &-grey-line {
    left: 5px;
    right: 5px;
    top: 4px;
    position: absolute;
    height: 8px;
    background: #c9c9c9;
    z-index: 1;
  }
  &-items {
    display: flex;
    width: 100%;
    &-item {
      width: 100%;
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: end;
      &:first-child {
        width: auto;
      }
      & .item-block {
        background: #999;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &.active::after {
        content: '';
        position: absolute;
        left: 3px;
        right: 3px;
        top: 4px;
        height: 8px;
        background: #5558fa;
        z-index: -1;
      }
      &.active .item-block {
        background-color: #5558fa;
        &::before {
          content: '';
          width: 4px;
          height: 4px;
          border-radius: 2px;
          background-color: #fff;
        }
      }
      &:not(:first-child):not(:last-child) {
        & .item-block {
          transform: translateX(8px);
        }
      }
      &:first-child {
        position: absolute;
        z-index: 10 !important;
      }
      &.checked {
        z-index: 5;
        & .item-block {
          background-color: #5558fa;
          &::before {
            content: '';
            width: 100%;
            height: 100%;
            background-image: url('./check.svg');
            background-repeat: no-repeat;
            background-size: 60%;
            background-position: center center, 50%, 50%;
          }
        }
      }
      &.checked:not(:first-child)::before {
        content: '';
        position: absolute;
        left: 3px;
        right: 3px;
        top: 4px;
        height: 8px;
        background: #5558fa;
        z-index: -1;
      }
    }
  }

  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #999;
    &__item {
      flex: 1 1 auto;
      text-align: center;
      &.active {
        color: #5558fa;
      }
      &:first-child {
        text-align: start;
        flex-grow: 0;
        flex-shrink: 0;
        // flex: 0 0 12.5%;
      }
      &:last-child {
        text-align: end;
        flex-grow: 0;
        flex-shrink: 0;
        // flex: 0 0 12.5%;
      }
    }
  }
}

.modal {
  position: absolute;
  background-color: #0000003a;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  &-content {
    width: 460px;
    min-height: 300px;
    padding: 32px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    &__title {
      font-size: 20px;
    }
  }
}
